<%= form_for(limit) do |f| %>
  <% if limit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(limit.errors.count, "error") %> prohibited this limit from being saved:</h2>

      <ul>
      <% limit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :limit_value %>
    <%= f.number_field :limit_value %>
  </div>

  <div class="field">
    <%= f.label :meter_id %>
    <%= f.text_field :meter_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
