<p id="notice"><%= notice %></p>

<p>
  <strong>Limit value:</strong>
  <%= @limit.limit_value %>
</p>

<p>
  <strong>Meter:</strong>
  <%= @limit.meter_id %>
</p>

<%= link_to 'Edit', edit_limit_path(@limit) %> |
<%= link_to 'Back', limits_path %>
