<%= form_for(limite) do |f| %>
  <% if limite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(limite.errors.count, "error") %> prohibited this limite from being saved:</h2>

      <ul>
      <% limite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %>
    <%= f.number_field :value %>
  </div>

  <div class="field">
    <%= f.label :meter_id %>
    <%= f.text_field :meter_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
