<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @limite.value %>
</p>

<p>
  <strong>Meter:</strong>
  <%= @limite.meter %>
</p>

<%= link_to 'Edit', edit_limite_path(@limite) %> |
<%= link_to 'Back', limites_path %>
