<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @meter.value %>
</p>

<p>
  <strong>Type:</strong>
  <%= @meter.type_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @meter.user_id %>
</p>

<p>
  <strong>Value at the start of the Month:</strong>
  <%= @meter.valueStartMonth %>
</p>

<%= link_to 'Edit', edit_meter_path(@meter) %> |
<%= link_to 'Back', meters_path %>
