<!DOCTYPE html>
<html>
<head>
  <h1>&nbsp;&nbsp;Eletricidade</h1>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script>
      function drawChart() {

          Highcharts.chart('container', {

              title: {
                  text: ''
              },

              yAxis: {
                  title: {
                      text: 'Consumo'
                  }
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle'
              },

              plotOptions: {
                  series: {
                      pointStart: 1
                  }
              },

              series: [{
                  name: 'Mes atual',
                  data: [<%= Consumption.find(180*current_user.id-89).value %>, <%= Consumption.find(180*current_user.id-88).value %>, <%= Consumption.find(180*current_user.id-87).value %>,<%= Consumption.find(180*current_user.id-86).value %>, <%= Consumption.find(180*current_user.id-85).value %>,
                      <%= Consumption.find(180*current_user.id-84).value %>, <%= Consumption.find(180*current_user.id-83).value %>, <%= Consumption.find(180*current_user.id-82).value %>,<%= Consumption.find(180*current_user.id-81).value %>, <%= Consumption.find(180*current_user.id-80).value %>,
                      <%= Consumption.find(180*current_user.id-79).value %>, <%= Consumption.find(180*current_user.id-78).value %>, <%= Consumption.find(180*current_user.id-77).value %>,<%= Consumption.find(180*current_user.id-76).value %>, <%= Consumption.find(180*current_user.id-75).value %>,
                      <%= Consumption.find(180*current_user.id-74).value %>, <%= Consumption.find(180*current_user.id-73).value %>, <%= Consumption.find(180*current_user.id-72).value %>,<%= Consumption.find(180*current_user.id-71).value %>, <%= Consumption.find(180*current_user.id-70).value %>,
                      <%= Consumption.find(180*current_user.id-69).value %>, <%= Consumption.find(180*current_user.id-68).value %>, <%= Consumption.find(180*current_user.id-67).value %>,<%= Consumption.find(180*current_user.id-66).value %>, <%= Consumption.find(180*current_user.id-65).value %>,
                      <%= Consumption.find(180*current_user.id-64).value %>, <%= Consumption.find(180*current_user.id-63).value %>, <%= Consumption.find(180*current_user.id-62).value %>,<%= Consumption.find(180*current_user.id-61).value %>, <%= Consumption.find(180*current_user.id-60).value %>]
              }, {
                  name: 'Mes Anterior',
                  data: [<%= Consumption.find(180*current_user.id-179).value %>, <%= Consumption.find(180*current_user.id-178).value %>, <%= Consumption.find(180*current_user.id-177).value %>,<%= Consumption.find(180*current_user.id-176).value %>, <%= Consumption.find(180*current_user.id-175).value %>,
                      <%= Consumption.find(180*current_user.id-174).value %>, <%= Consumption.find(180*current_user.id-173).value %>, <%= Consumption.find(180*current_user.id-172).value %>,<%= Consumption.find(180*current_user.id-171).value %>, <%= Consumption.find(180*current_user.id-170).value %>,
                      <%= Consumption.find(180*current_user.id-169).value %>, <%= Consumption.find(180*current_user.id-168).value %>, <%= Consumption.find(180*current_user.id-167).value %>,<%= Consumption.find(180*current_user.id-166).value %>, <%= Consumption.find(180*current_user.id-165).value %>,
                      <%= Consumption.find(180*current_user.id-164).value %>, <%= Consumption.find(180*current_user.id-163).value %>, <%= Consumption.find(180*current_user.id-162).value %>,<%= Consumption.find(180*current_user.id-161).value %>, <%= Consumption.find(180*current_user.id-160).value %>,
                      <%= Consumption.find(180*current_user.id-159).value %>, <%= Consumption.find(180*current_user.id-158).value %>, <%= Consumption.find(180*current_user.id-157).value %>,<%= Consumption.find(180*current_user.id-156).value %>, <%= Consumption.find(180*current_user.id-155).value %>,
                      <%= Consumption.find(180*current_user.id-154).value %>, <%= Consumption.find(180*current_user.id-153).value %>, <%= Consumption.find(180*current_user.id-152).value %>,<%= Consumption.find(180*current_user.id-151).value %>, <%= Consumption.find(180*current_user.id-150).value %>]
              }]

          });
      };
  </script>
</head>
&nbsp;&nbsp;<%= '%.2f' %((@meter.value - @meter.valueStartMonth)*0.1652) %> €
<body onLoad="drawChart()">
<br><br>
  <div class="myProgress">
    <div class="myBar" style="width: <%= '%.2f' %(((((@meter.value - @meter.valueStartMonth)*0.1652))*100)/@limite.value) %>%">
      <%= '%.2f' %(((((@meter.value - @meter.valueStartMonth)*0.1652))*100)/@limite.value) %>%</div>
  </div>
   0 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
  <%= @limite.value%><br><br><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <label class="switch">
    <input type="checkbox" checked>
    <div class="slider round"></div>
  </label><br><br>

    <div id="container"></div><br><br>

    <%= button_to "", settings_path, :method => "get", :class => "myButtonSettings"%>
</body>
</html>