<!DOCTYPE html>
<html>
<head>
  <h1> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Gás</h1>
</head>
&nbsp;&nbsp;<%= @meter.value %> m³
<body>
<br><br>
<div class="myProgress">
  <div class="myBar" style="width: <%= ((@meter.value*100)/@limite.value) %>%">
    <%= ((@meter.value*100)/@limite.value) %>%</div>
</div>
0 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
<%= @limite.value%><br><br><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<label class="switch">
  <input type="checkbox" checked>
  <div class="slider round"></div>
</label><br><br>
<%= button_to "", settings_path, :method => "get", :class => "myButtonSettings"%>
</body>
</html>