<!DOCTYPE html>
<html>
<head>
  <h1> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Gás</h1>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script>
      function drawChart() {

          Highcharts.chart('container', {

              title: {
                  text: ''
              },

              yAxis: {
                  title: {
                      text: 'Consumo'
                  }
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle'
              },

              plotOptions: {
                  series: {
                      pointStart: 1
                  }
              },

              series: [{
                  name: 'Mes atual',
                  data: [<%= Consumption.find(180*current_user.id-29).value %>, <%= Consumption.find(180*current_user.id-28).value %>, <%= Consumption.find(180*current_user.id-27).value %>,<%= Consumption.find(180*current_user.id-26).value %>, <%= Consumption.find(180*current_user.id-25).value %>,
                      <%= Consumption.find(180*current_user.id-24).value %>, <%= Consumption.find(180*current_user.id-23).value %>, <%= Consumption.find(180*current_user.id-22).value %>,<%= Consumption.find(180*current_user.id-21).value %>, <%= Consumption.find(180*current_user.id-20).value %>,
                      <%= Consumption.find(180*current_user.id-19).value %>, <%= Consumption.find(180*current_user.id-18).value %>, <%= Consumption.find(180*current_user.id-17).value %>,<%= Consumption.find(180*current_user.id-16).value %>, <%= Consumption.find(180*current_user.id-15).value %>,
                      <%= Consumption.find(180*current_user.id-14).value %>, <%= Consumption.find(180*current_user.id-13).value %>, <%= Consumption.find(180*current_user.id-12).value %>,<%= Consumption.find(180*current_user.id-11).value %>, <%= Consumption.find(180*current_user.id-10).value %>,
                      <%= Consumption.find(180*current_user.id-9).value %>, <%= Consumption.find(180*current_user.id-8).value %>, <%= Consumption.find(180*current_user.id-7).value %>,<%= Consumption.find(180*current_user.id-6).value %>, <%= Consumption.find(180*current_user.id-5).value %>,
                      <%= Consumption.find(180*current_user.id-4).value %>, <%= Consumption.find(180*current_user.id-3).value %>, <%= Consumption.find(180*current_user.id-2).value %>,<%= Consumption.find(180*current_user.id-1).value %>, <%= Consumption.find(180*current_user.id).value %>]
              }, {
                  name: 'Mes Anterior',
                  data: [<%= Consumption.find(180*current_user.id-119).value %>, <%= Consumption.find(180*current_user.id-118).value %>, <%= Consumption.find(180*current_user.id-117).value %>,<%= Consumption.find(180*current_user.id-116).value %>, <%= Consumption.find(180*current_user.id-115).value %>,
                      <%= Consumption.find(180*current_user.id-114).value %>, <%= Consumption.find(180*current_user.id-113).value %>, <%= Consumption.find(180*current_user.id-112).value %>,<%= Consumption.find(180*current_user.id-111).value %>, <%= Consumption.find(180*current_user.id-110).value %>,
                      <%= Consumption.find(180*current_user.id-109).value %>, <%= Consumption.find(180*current_user.id-108).value %>, <%= Consumption.find(180*current_user.id-107).value %>,<%= Consumption.find(180*current_user.id-106).value %>, <%= Consumption.find(180*current_user.id-105).value %>,
                      <%= Consumption.find(180*current_user.id-104).value %>, <%= Consumption.find(180*current_user.id-103).value %>, <%= Consumption.find(180*current_user.id-102).value %>,<%= Consumption.find(180*current_user.id-101).value %>, <%= Consumption.find(180*current_user.id-100).value %>,
                      <%= Consumption.find(180*current_user.id-99).value %>, <%= Consumption.find(180*current_user.id-98).value %>, <%= Consumption.find(180*current_user.id-97).value %>,<%= Consumption.find(180*current_user.id-96).value %>, <%= Consumption.find(180*current_user.id-95).value %>,
                      <%= Consumption.find(180*current_user.id-94).value %>, <%= Consumption.find(180*current_user.id-93).value %>, <%= Consumption.find(180*current_user.id-92).value %>,<%= Consumption.find(180*current_user.id-91).value %>, <%= Consumption.find(180*current_user.id-90).value %>]
              }]

          });
      };
      </script>
</head>
&nbsp;&nbsp;&nbsp;<%= '%.2f' %((@meter.value - @meter.valueStartMonth)*0.0716) %> €
<body onLoad="drawChart()">
<br><br>
<div class="myProgress">
  <div class="myBar" style="width: <%= '%.2f' %(((((@meter.value - @meter.valueStartMonth)*0.0716))*100)/@limite.value) %>%">
    <%= '%.2f' %(((((@meter.value - @meter.valueStartMonth)*0.0716))*100)/@limite.value) %>%</div>
</div>
0 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
<%= @limite.value%><br><br><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<label class="switch">
  <input type="checkbox" checked>
  <div class="slider round"></div>
</label><br><br>

<div id="container"></div><br><br>

<%= button_to "", settings_path, :method => "get", :class => "myButtonSettings"%>
</body>
</html>