<!DOCTYPE html>
<html>
<body>
<img style ="position:absolute; TOP:55px; LEFT:20px;" src="http://i.imgur.com/w2lkXzj.png" /><br><br><br><br>
    Idioma:
    <select>
      <option value="PT">PT</option>
      <option value="ES">ES</option>
      <option value="EN">EN</option>
    </select><br><br>
    Moeda :
    <select>
      <option value="€">€</option>
      <option value="$">$</option>
      <option value="£">£</option>
    </select><br><br>
    <%=  form_tag url: {controller: :logged, action: :create }, html: { class: "listform"} do   %>
    <%= label :type, :Eletricidade%>
    <%= number_field :limite, :value1, in: 1.0..99999.0, required: true, placeholder: "Limite desejado" %>
    <br> <br>
    <%= label :type, :Água%>
    <%= number_field :limite, :value2, in: 1.0..99999.0, required: true, placeholder: "Limite desejado" %>
    <br> <br>
    <%= label :type , :Gás %>
    <%= number_field :limite, :value3, in: 1.0..99999.0, required: true, placeholder: "Limite desejado" %>
    <br> <br>
    <%= submit_tag "Guardar Limites" %>
    <!--  <%= image_submit_tag("http://i.imgur.com/w2lkXzj.png") %></p>-->
    <% end %>

</body>
</html>