<!DOCTYPE html>
<html>
<head>
  <h1>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Água</h1>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script>
      function drawChart() {

          Highcharts.chart('container', {

              title: {
                  text: ''
              },

              yAxis: {
                  title: {
                      text: 'Consumo'
                  }
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle'
              },

              plotOptions: {
                  series: {
                      pointStart: 1
                  }
              },

              series: [{
                  name: 'Mes atual',
                  data: [<%= Consumption.find(180*current_user.id-59).value %>, <%= Consumption.find(180*current_user.id-58).value %>, <%= Consumption.find(180*current_user.id-57).value %>,<%= Consumption.find(180*current_user.id-56).value %>, <%= Consumption.find(180*current_user.id-55).value %>,
                      <%= Consumption.find(180*current_user.id-54).value %>, <%= Consumption.find(180*current_user.id-53).value %>, <%= Consumption.find(180*current_user.id-52).value %>,<%= Consumption.find(180*current_user.id-51).value %>, <%= Consumption.find(180*current_user.id-50).value %>,
                      <%= Consumption.find(180*current_user.id-49).value %>, <%= Consumption.find(180*current_user.id-48).value %>, <%= Consumption.find(180*current_user.id-47).value %>,<%= Consumption.find(180*current_user.id-46).value %>, <%= Consumption.find(180*current_user.id-45).value %>,
                      <%= Consumption.find(180*current_user.id-44).value %>, <%= Consumption.find(180*current_user.id-43).value %>, <%= Consumption.find(180*current_user.id-42).value %>,<%= Consumption.find(180*current_user.id-41).value %>, <%= Consumption.find(180*current_user.id-40).value %>,
                      <%= Consumption.find(180*current_user.id-39).value %>, <%= Consumption.find(180*current_user.id-38).value %>, <%= Consumption.find(180*current_user.id-37).value %>,<%= Consumption.find(180*current_user.id-36).value %>, <%= Consumption.find(180*current_user.id-35).value %>,
                      <%= Consumption.find(180*current_user.id-34).value %>, <%= Consumption.find(180*current_user.id-33).value %>, <%= Consumption.find(180*current_user.id-32).value %>,<%= Consumption.find(180*current_user.id-31).value %>, <%= Consumption.find(180*current_user.id-30).value %>]
              }, {
                  name: 'Mes Anterior',
                  data: [<%= Consumption.find(180*current_user.id-149).value %>, <%= Consumption.find(180*current_user.id-148).value %>, <%= Consumption.find(180*current_user.id-147).value %>,<%= Consumption.find(180*current_user.id-146).value %>, <%= Consumption.find(180*current_user.id-145).value %>,
                      <%= Consumption.find(180*current_user.id-144).value %>, <%= Consumption.find(180*current_user.id-143).value %>, <%= Consumption.find(180*current_user.id-142).value %>,<%= Consumption.find(180*current_user.id-141).value %>, <%= Consumption.find(180*current_user.id-140).value %>,
                      <%= Consumption.find(180*current_user.id-139).value %>, <%= Consumption.find(180*current_user.id-138).value %>, <%= Consumption.find(180*current_user.id-137).value %>,<%= Consumption.find(180*current_user.id-136).value %>, <%= Consumption.find(180*current_user.id-135).value %>,
                      <%= Consumption.find(180*current_user.id-134).value %>, <%= Consumption.find(180*current_user.id-133).value %>, <%= Consumption.find(180*current_user.id-132).value %>,<%= Consumption.find(180*current_user.id-131).value %>, <%= Consumption.find(180*current_user.id-130).value %>,
                      <%= Consumption.find(180*current_user.id-129).value %>, <%= Consumption.find(180*current_user.id-128).value %>, <%= Consumption.find(180*current_user.id-127).value %>,<%= Consumption.find(180*current_user.id-126).value %>, <%= Consumption.find(180*current_user.id-125).value %>,
                      <%= Consumption.find(180*current_user.id-124).value %>, <%= Consumption.find(180*current_user.id-123).value %>, <%= Consumption.find(180*current_user.id-122).value %>,<%= Consumption.find(180*current_user.id-121).value %>, <%= Consumption.find(180*current_user.id-120).value %>]
              }]

          });
      };
  </script>
</head>
&nbsp;&nbsp;<%= '%.2f' %((@meter.value - @meter.valueStartMonth)*0.2692) %> €
<body onLoad="drawChart()">
<br><br>
<div class="myProgress">
  <div class="myBar" style="width: <%= '%.2f' %(((((@meter.value - @meter.valueStartMonth)*0.2692))*100)/@limite.value) %>%">
    <%= '%.2f' %(((((@meter.value - @meter.valueStartMonth)*0.2692))*100)/@limite.value) %>%</div>
</div>
0 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
<%= @limite.value%><br><br><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<label class="switch">
  <input type="checkbox" checked>
  <div class="slider round"></div>
</label><br><br>
<div id="container"></div><br><br>
<%= button_to "", settings_path, :method => "get", :class => "myButtonSettings"%>
</body>
</html>